<h1>Curso de Angular</h1>
<!-- <app-mi-componente></app-mi-componente> -->
<!-- <app-cmp-data-binding></app-cmp-data-binding> -->
<!-- <app-cmp-comunicacion-entre-componentes></app-cmp-comunicacion-entre-componentes> -->
<!-- <app-cmp-directivas></app-cmp-directivas> -->
<!-- <app-cmp-pipes></app-cmp-pipes> -->
<!-- <app-cmp-servicios></app-cmp-servicios> -->
<!-- <app-cmp-observables></app-cmp-observables> -->
<!-- <app-cmp-http></app-cmp-http> -->
<!-- <app-cmp-routing></app-cmp-routing> -->
<app-cmp-formularios></app-cmp-formularios>